@media (max-width: 280px) {
    .search-and-title {
        text-decoration: row;
        margin-left: 2em !important;
    }

    .title-page>#textBlog {
        margin-left: 2em !important;
    }
    
}

@media (min-width: 281px) and (max-width: 499px) {


    .title-page>#textHome {
        margin-left: 0em !important;
    }

    .title-content-blog {
        padding-left: 0px!important;
    }

    .title-page>#textBlog {
        margin-left: 0em !important;
    }
}

@media (min-width: 500px){
    .title-page>#textBlog {
        margin-left: 3.5em !important;
    }
}

@media (min-width: 576px) {

    .search-box select {
        width: 82%;
    }

    .category-box>.form-control {
        width: 82%;
    }

    .search-category-group {
        margin-left: 6em !important;
    }

    .search-and-title {
        transition: all 2s;
        text-decoration: row;
    }

    .title-content-blog h1 h2 {
        margin-left: -0.5rem !important;
    }

    .title-page>#textDetailBlog {
        margin-left: 0.5em !important;
    }

    .text-content-blog p {
        padding-left: 0.5rem !important;
        padding-right: 2rem !important;
    }

    .title-page>#textBlog {
        margin-left: 3.2em !important;
    }

    .title-page>#textBookmark {
        margin-left: 3em !important;
    }

    .title-page>#textHome {
        margin-left: 3em !important;
    }

    .image-content-blog img {
        width: 41em;
        margin-left: 2em;
    }
    
}


@media (min-width: 768px) {
    .search-and-title {
        flex-direction: row;
        transition: all 2s;
    }

    .search-box select {
        width: 100%;
    }

    .category-box>.form-control {
        width: 100%;
    }

    .title-page>#textBlog {
        margin-left: 1.5em !important;
    }

    .title-page>#textHome {
        margin-left: 1.5em !important;
    }

    .title-page>#textBookmark {
        margin-left: 1.5em !important;
    }

    .title-page>#textDetailEvent {
        margin-left: auto;
    }

    .title-page>#textDetailBlog {
        margin-left: 1.2em !important;
    }

    .detail-event-card {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 50px;
    }

    .title-content-blog {
        padding-left: 2.5em !important;
    }

    .text-content-blog p {
        padding-left: 2.5rem !important;
        padding-right: 2rem !important;
        
    }

    .image-content-blog img {
        width: 41em;
        margin-left: 3em;
    }

    .box-comment {
        margin-left: 0.5em;
    }

    .box-comment h2 {
        border-bottom: 2px solid #2E4C6D;
        width: fit-content;
    }

    .box-comment textarea {
        width: 90%;
    }

    #button-blog {
        margin-right: 3.5em;
    }
     .jumbotron {
         background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
             url('/images/image-3-medium.jpg') center center/cover no-repeat;
     }

}

@media (min-width: 992px) {
    .search-and-title {
        flex-direction: row;
    }

    .title-content-blog{
        padding-left: 9.5em !important
    }

    .text-content-blog p {
        padding-left: 9.5rem !important;
        padding-right: 7.5rem !important;
    }

    .title-page>#textHome {
        margin-left: 5em !important;
    }

    .title-page>#textBookmark {
        margin-left: 5em !important;
    }

    .box-comment {
        margin-left: 9.5em;
    }

    .box-comment h2 {
        border-bottom: 2px solid #2E4C6D;
        width: fit-content;
    }

    .box-comment textarea {
        width: 80%;
    }

    #button-blog {
        margin-right: 7.5em;
    }

    .title-page>#textBlog {
        margin-left: 5em !important;
    }
    .nav-link {
        text-transform: uppercase;
    }
}

@media (min-width: 1024px) {
    .jumbotron {
        background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
            url('/images/image-3.jpg') center center/cover no-repeat ;
        background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
            url('/images/image-3.webp') center center/cover no-repeat;
    }
}


@media (min-width: 1200px) {
    .search-and-title {
        flex-direction: row;
    }

    .title-page>#textBlog {
        margin-left: 3em !important;
    }

    .title-page>#textHome {
        margin-left: 3em !important;
    }

    .title-page>#textBookmark {
        margin-left: 3em !important;
    }

    .title-content-blog {
        padding-left: 15.3rem !important;
    }

    .text-content-blog p {
        padding-left: 15.3rem !important;
        padding-right: 11.5rem !important;
    }

    .box-comment {
        margin-left: 15.5em;
    }

    .box-comment h2 {
        border-bottom: 2px solid #2E4C6D;
        width: fit-content;
    }

    .box-comment textarea {
        width: 70%;
    }

    #button-blog {
        margin-right: 13em;
    }
}