@media (max-width: 280px) {
    .search-and-title {
        margin-left: 2em !important;
    }

}

@media (min-width: 281px) and (max-width: 480px) {
    .search-and-title {
        margin-left: 4em !important;
    }

    .title-page>#textHome {
        margin-left: -5em !important;
    }
}

@media (min-width: 576px) {

    .search-box select {
        width: 82%;
    }

    .category-box>.form-control {
        width: 82%;
    }

    .search-category-group {
        margin-left: 6em !important;
    }

    .search-and-title {
        transition: all 2s;
    }

    .title-content-blog {
        padding-left: 0em !important;
    }

    .text-content-blog p {
        padding-left: 0.5rem !important;
        padding-right: 2rem !important;
    }
    .image-content-blog img {
        width: 41em;
        margin-left: 2em;
    }
}




@media (min-width: 768px) {
    .search-and-title {
        flex-direction: row;
        transition: all 2s;
    }

    .search-box select {
        width: 100%;
    }

    .category-box>.form-control {
        width: 100%;
    }

    .title-page>#textBlog {
        margin-left: 5em !important;
    }

    .title-page>#textHome {
        margin-left: 1.5em !important;
    }

    .title-page>#textDetailEvent {
        margin-left: 3em;
    }

    .detail-event-card {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 50px;
    }

    .text-content-blog p {
        padding-left: 2.5rem;
        padding-right: 2rem;
    }

    .image-content-blog img {
        width: 41em;
        margin-left: 3em;
    }

}

@media (min-width: 992px) {
    .title-content-blog {
        padding-left: 8.5em !important;
    }

    .text-content-blog p {
        padding-left: 9.5rem !important;
        padding-right: 7.5rem !important;
    }

}


@media (min-width: 1200px) {
    .search-and-title {
        flex-direction: row;
    }

    .title-page>#textBlog {
        margin-left: 3em !important;
    }

    .title-page>#textHome {
        margin-left: 3em !important;
    }

    .title-content-blog {
        padding-left: 13.5em !important;
    }

    .text-content-blog p {
        padding-left: 15.5rem !important;
        padding-right: 11.5rem !important;
    }
}