* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    width: 50%;
    height: 10%;
}

.nav-link{
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    margin-right: 1.5em;
    color: white !important;
}

.search-and-title{
    display: flex;
    align-items: center;
    margin-left: 6em;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-direction: column;
}


.card-list{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-top: 2em;
    margin: 1em;
}

.card:hover {
    transform: scale(0.9);
}

.row{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
}

.bookmark-fill{
    margin-top: 5em;
    position: relative;
    left: 1150px;
}

footer{
    margin-top: 5em;
}