* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    width: 50%;
    height: 10%;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-right: 1.5em;
    color: white !important;
}

.search-and-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-direction: column;
    transition: ease-in-out 1s;
}


.title-page>#textBlog {
    margin-left: -4em;
}
.title-page>#textDetailEvent {
    margin-left: -3em;
}


.card-list {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: ease-in-out 1s;
}

.card {
    margin-top: 2em;
    margin: 1em;
    transition: ease-in-out 1s;
}

.card:hover {
    transform: scale(0.9);
}

.detail-event-card {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
}

footer {
    margin-top: 5em;
}

.bookmark-fill {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #2E4C6D;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-content-blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content-blog img {
    width: 38em;
    margin: 1em;
    margin-left: 9em;
}

.title-content-blog{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding-left: 1em !important;
}

.title-content-blog h1{
    font-size: 1.5rem;
    margin-bottom: 1em;
}
.title-content-blog h2{
    font-size: 1rem;
    color: #2E4C6D;
}
.text-content-blog{
    align-items: center;
}
.text-content-blog p {
    text-align: left;
    padding-left: 14rem;
    padding-right: 3rem;
}


